.grades {
  font-size: 24px;
  font-weight: 500;
}
.list {
  list-style: none;
}
.totalField {
  font-size: 26px;
  font-weight: 500;
}

.good,
.bad,
.neutral {
  composes: grades;
}

.good {
  text-shadow: 0 -1px 3px #fff, 0 -2px 10px rgb(186, 245, 184),
    0 -10px 20px #08be11, 0 -18px 40px rgb(30, 255, 0);
}
.bad {
  text-shadow: 0 -1px 3px #fff, 0 -2px 10px rgb(226, 44, 44),
    0 -10px 20px #ff0000, 0 -18px 40px rgb(165, 0, 0);
}
.neutral {
  text-shadow: 0 -1px 3px #fff, 0 -2px 10px rgb(255, 251, 0),
    0 -10px 20px #ffee00, 0 -18px 40px rgb(255, 251, 0);
}
