.Buttons {
  display: flex;
  align-items: center;
}
.item {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  background-color: rgba(228, 147, 56, 0.384);
}

.item:not(:last-child) {
  margin-right: 20px;
}
.item:hover,
.item:focus {
  background: rgb(194, 194, 194);
  font-weight: bold;

  transition-duration: 300ms;
}
